[Unit]
Description=Search Worker Service
After=network.target

[Service]
Type=simple
User=root
Environment=DATABASE_URL=postgresql://${SUPABASE_DB_USER}:${SUPABASE_DB_PASSWORD}@${SUPABASE_DB_HOST}:${SUPABASE_DB_PORT}/${SUPABASE_DB_NAME}
WorkingDirectory=/opt/FINAL-email-crawler-streamlit-final-1
ExecStart=/usr/bin/python3 /opt/FINAL-email-crawler-streamlit-final-1/WITH_WORKER/worker.py
Restart=always

[Install]
WantedBy=multi-user.target