aiohttp
boto3
openai
pandas
plotly
requests
streamlit
urllib3
beautifulsoup4
python-dotenv
email-validator
fake-useragent
google
sqlalchemy
psycopg2-binary
streamlit-option-menu
streamlit-tags
tenacity
